main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}



.main__info {
    width: 100%;
    max-width: 550px;
}

.main__info p {
    font-size: 18px;
    margin: 20px 0 28px;
}

.main__info div {
    display: flex;
    column-gap: 32px;
}

.main__info div a,
.main__info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(10deg);
}

.main__info div a {
    background: var(--red);
}

.main__info div button {
    background: transparent;
    border: 1px solid var(--green);
}

.main__info div button:hover {
    background: var(--green);
}

.main__info div a:hover {
    border: 1px solid var(--red);
    background: transparent;
}

main #formatar img{
    width: 92%;
}

#formatar{
    justify-content: end;
    align-items: end;
}

@media (max-width: 750px) {
    main {
        display:grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 750px) {
    main img{
        width: 200px;
    }
}

@media (max-width:750px){
    .main__info{
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 750px) {
    main #formatar img{
        margin-bottom: 195px;
    }
}



